#execute lsusb in terminal with device connected/disconnected
#your SCPI/GPIB instr will be a line like ID 2a8d:5c18
#copy and modify to fit your device, reload rules daemon (see Readme.md)

#Oszi Keysight dsox1102g
SUBSYSTEM=="usb", ATTR{idVendor}=="2a8d", ATTR{idProduct}=="1797", MODE="0666", GROUP="plugdev"
#PSU rspro rspd3303c
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="7540", MODE="0666", GROUP="plugdev"
#VNA Keysight fieldfox
SUBSYSTEM=="usb", ATTR{idVendor}=="2a8d", ATTR{idProduct}=="5c18", MODE="0666", GROUP="plugdev"
